.p-multiselect-panel {
  background-color: #f6f6f6 !important;
}

li.p-multiselect-item {
  background-color: #fff !important;
  color: #d32f2f !important;
  margin-bottom: 5px !important;
}

.p-multiselect-header {
  display: none !important;
}

.p-multiselect-panel {
  padding-inline: 10px !important;
}

.p-multiselect-token {
  background-color: #d32f2f !important;
  color: #fff !important;
}

.pi-chevron-down::before {
  color: #d32f2f !important;
}

.p-multiselect-item.p-highlight {
  background-color: #d32f2f !important;
  color: #fff !important;
}
