#imgIcon{
    filter: invert(53%) sepia(5%) saturate(10%) hue-rotate(355deg) brightness(96%) contrast(88%);
    width: 20px;
}

.nk-menu-item{
    padding-right: 0 !important;
}

.nk-menu-link{
    border-radius: 50px 0 0 50px;
}

.active >.nk-menu-text{
    color: #fff !important;
}

.nk-menu-text{
    font-weight: 400 !important;
}


.active #imgIcon{
    filter: brightness(0) invert(1);
}

.active > .nk-menu-link{
    background-color: #D32F2F !important;
}


.nk-menu-link.active{
    background-color: #D32F2F !important;
}